# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log

# Env / secrets
.env
.env.*

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/
archive/

# Dotnet
bin/
obj/
